body {
  background: #ccc;
}

.container {
  margin: 50px auto;
  width: 800px;
  position: relative;
  text-align: center;
}

.node {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  height: 100px;
  position: absolute;
  width: 20%;
}

#a {
  left: 5%;
  top: 225px;
}

#b {
  left: 40%;
  top: 50px;
}

#c {
  right: 5%;
  top: 225px;
}

#d {
  left: 40%;
  top: 400px;
}
